<!DOCTYPE html>
<html lang="pt-br">

<!-- Cabeçalho -->
<head>
    <meta charset="utf-8" lang="pt-br">
    <meta name="viewport" content="initial-scale=1.0" />

    <title>Nossa Loja</title>

    <link rel="stylesheet" href="/App/Css/index.css" />
</head>

<!-- Corpo -->
<body id="mainBody">

    <!-- Conteúdo da página -->
    <div id="mainBodyConteudo">

        <!-- Barra de navegação -->
        <nav id="navbar"></nav>

        <!-- Área central da página -->
        <div id="content">

            <!-- Menu lateral esquerdo -->
            <div id="sidebar">

                <!-- Menu -->
                <div></div>

                <!-- Sub menu -->
                <div></div>
            </div>

            <!-- Área de renderização do conteúdo -->
            <div id="main">

                <!--
                    Local onde o conteúdo dos arquivo ".html" vão ser injetados
                    pela função de renderização que será criada.
                -->

            </div>

        </div>

    </div>

</body>

</html>