<!DOCTYPE html>
<html lang="pt-br">

<!-- Cabeçalho -->
<head>
    <meta charset="utf-8" lang="pt-br">
    <meta name="viewport" content="initial-scale=1.0" />

    <title>Nossa Loja</title>

    <script>
        function NossaLoja_WS() {
            return "@ViewBag.Url";
        }
    </script>

    <link rel="stylesheet" href="../Public/Css/bootstrap.css" />

    <link rel="stylesheet" href="/App/Css/index.css" />
    <link rel="stylesheet" href="/App/Css/list.css" />
    <link rel="stylesheet" href="/App/Css/table.css" />
    <link rel="stylesheet" href="/App/Css/form.css" />
</head>

<!-- Corpo -->
<body id="mainBody" onload="loadHome()">

    <!-- Conteúdo da página -->
    <div id="mainBodyConteudo">

        <!-- Barra de navegação -->
        <nav id="navbar"></nav>

        <!-- Área central da página -->
        <div id="content">

            <!-- Menu lateral esquerdo -->
            <div id="sidebar">

                <!-- Menu -->
                <div></div>

                <!-- Sub menu -->
                <div></div>
            </div>

            <!-- Área de renderização do conteúdo -->
            <div id="main">

                <!--
                    Local onde o conteúdo dos arquivo ".html" vão ser injetados
                    pela função de renderização que será criada.
                -->

            </div>

        </div>

    </div>

    <script type="text/javascript" src="../Public/Js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="../Public/Js/bootstrap.js"></script>
    <script type="text/javascript" src="../Public/Js/axios.min.js"></script>

    <script type="text/javascript" src="../App/Js/Common/common.js"></script>
    <script type="text/javascript" src="../App/Js/Common/route.js"></script>
    <script type="text/javascript" src="../App/Js/Common/form.js"></script>

    <script type="text/javascript" src="../App/Js/cliente.js"></script>

</body>

</html>