#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.botao {
    margin: 3px;
    height: 80px;
    width: 120px;
    background-color: #e1e1e1;
}

    .botao:hover {
        background-color: #d1d1d1;
    }

    .botao:focus {
        outline: none;
        box-shadow: none;
    }
