* {
    font-family: 'Segoe UI';
    color: #565658;
    user-select: none;
    scrollbar-color: #cfcfcf #cfcfcf15;
    scrollbar-width: thin;
    margin: 0 !important;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #EBEBEB;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 1024px;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botao {
    margin: 3px;
    height: 80px;
    width: 120px;
    background-color: #e1e1e1;
}

    .botao:hover {
        background-color: #d1d1d1;
    }

    .botao:focus {
        outline: none;
        box-shadow: none;
    }

.botao-voltar {
    margin: 3px;
    height: 30px;
    width: 120px;
    background-color: #e1e1e1;
}