.form-wrapper {
    padding: 20px 30px;
    display: grid;
    min-height: calc(100vh - 80px - 46px);
}

.form-content-wrapper {
    justify-content: center !important;
    width: 800px;
    display: inline-flex;
}

.form-content-wrapper div {
    width: 100%;
}

.card-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-body div {
    display: flex;
    justify-content: space-evenly;
}

.card-list .card-body table tbody tr:hover {
    background-color: #EDF4FF;
}

.card-list .card-body table tbody tr.clicked {
    background-color: #ECF3FE;
}